@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,200');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto&display=swap');
body {
	margin:0;
	padding:0;
  font-family: 'Titillium Web',sans-serif;

}

:root {

  --primaryColor : #00A8FF;
  --primaryColorTr : #00aaff51;
  --primaryPlus : #047A9D;
  --primaryBg : #eee;
  --primaryBgTr : rgba(238, 238, 238, 0.704);
  --lite : #fff;
}

.outer {
  /* padding: 20vh; */
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
background-color:cadetblue;  


  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
    /* background-color: aqua; */
    width:min-content ;
    /* border: solid var(--lite); */
  }
  .heading{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: var(--lite);
  }
  .inner{  
    background-color: var(--primaryBgTr);
  }
  /* menu Window */
  
  .categoryOption label{
      width: 50%;
      cursor: pointer;
    }
    input[type='radio']{
      display: none;
    }
    
  .subHead{
    color: var(--primaryColor);
    
  }
  input[type="radio"]:checked+label{ 
    background-color: var(--primaryColor);
    color: #eee;
    padding: 5px;
    width: 50%;
  } 
  
  /* game Window */
  .inputField {
    width: 30px;
    outline: none;
    border-radius: 20%;
  }
  input[type="text"]:disabled {
    background-color: white;
    font-weight: bolder;
  }
  .chanceLeftSpan{
    float: right; 
  }
  #chanceLeftP{
    background-color: #eee;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    width: fit-content;
  }
  /* .scoreBoardDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }  */
  #scoreBoard {
    display: flex;
    justify-content: center;

  }
  .won {
    padding: 10px;
    background-color: var(--primaryColorTr);
    color: #fff;
    
    /* border-right: 1px solid var(--primaryColor); */
  }

  /* menu window */
  .btn:focus {
    box-shadow: none !important;
  }
  .btn:hover{
    color: var(--lite);
    /* font-weight: bold; */
  }
  .start,.home{
    width: 120px;
    background-color: #00A8FF;
    border-radius: 0px;
    color: #fff;
    
} 